cmocean
h5py
hyperopt
ipython
lightning
matplotlib
numpy
pandas
rich
scikit-learn
seaborn
torch
--index-url https://download.pytorch.org/whl/cu118; system_platform  != 'Darwin'
torchaudio
torchvision
tqdm
